[submodule "vim"]
	path = vim
	url = https://github.com/vim/vim.git
[submodule "contrib/autofmt"]
	path = contrib/autofmt
	url = https://github.com/vim-jp/autofmt.git
[submodule "contrib/lang-ja"]
	path = contrib/lang-ja
	url = https://github.com/vim-jp/lang-ja.git
[submodule "contrib/libiconv2"]
	path = contrib/libiconv2
	url = https://github.com/koron/libiconv.git
[submodule "contrib/libXpm-win32"]
	path = contrib/libXpm-win32
	url = https://github.com/koron/libXpm-win32.git
[submodule "contrib/luajit-2.0"]
	path = contrib/luajit-2.0
	url = https://github.com/LuaJIT/LuaJIT.git
[submodule "contrib/vimdoc-ja"]
	path = contrib/vimdoc-ja
	url = https://github.com/vim-jp/vimdoc-ja.git
[submodule "contrib/gettext"]
	path = contrib/gettext
	url = https://github.com/koron/gettext.git
[submodule "patches"]
	path = patches
	url = https://github.com/koron/vim-kaoriya-patches.git
[submodule "contrib/diffutils"]
	path = contrib/diffutils
	url = https://github.com/koron/diffutils.git
